$black: #03050f;
$grey: #5e6488;
$aqua: #00f4e2;
$lemon: #00ff7f;
$red: #f7052d;
$white: #ffffff;
$blue: #4f4fff;
$aqua-green: #7df0ba;
$red-rimac: #ff1c44;
$green: #389e0d;
$neutral-700: #141938;
$neutral-600: #7981b2;
$purple: #c333ff;
